<% @page_title = "Delete #{@admin.name}" %>


    <%= link_to("<< Back to Index",{:action=>'index'},:class=>"btn btn-default btn-xs  pull-right") %>
    <h2> Delete <%= @admin.name %> </h2>
    <%= form_for(:admin,:url=>{:action=>'destroy',:id=>@admin.id}) do |f| %>
	
	<h5><em>Are you sure you want to delete <%= @admin.name %></em></h5>
		<div class="col-sm-2 pull-right">
		  <%= submit_tag("Delete",:class=>"btn btn-primary btn-block") %>
		</div>
    <% end %>
  